<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500698076345-jndugjt2mcngr8s211s40oa94f9ue7tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500698076345-jndugjt2mcngr8s211s40oa94f9ue7tr</string>
	<key>API_KEY</key>
	<string>AIzaSyDc5374YonCRchSawYKO6u460klesAvzuo</string>
	<key>GCM_SENDER_ID</key>
	<string>500698076345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.ktl.healMe</string>
	<key>PROJECT_ID</key>
	<string>healMe-8127f</string>
	<key>STORAGE_BUCKET</key>
	<string>healMe-8127f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500698076345:ios:38cbbb731546bbc806f768</string>
</dict>
</plist>